{% import 'macros.html' as m %}

{% extends "base.html" %}
{% block content %}

<div class="container pt-3">
    <p>Информация о книге</p>
    <ul class="list-group">
    <li class="list-group-item">{{ m.print_book(book) }}</li>
    </ul>
</div>

{% if book['open_loan'] %}
<div class="container pt-3">
    <p>Книга выдана на руки</p>
    <ul class="list-group">
       <li class="list-group-item">{{ m.print_loan(book['open_loan']) }}</li>
    </ul>
</div>
{% endif %}

{%if book['closed_loans'] %}
<div class="container pt-3">
    <p>История выдачи книги</p>
    <ul class="list-group">
    {% for closed_loan in book['closed_loans'] %}
        <li class="list-group-item">{{ m.print_loan(closed_loan)}}</li>
    {% endfor %}
    </ul>
</div>
{%endif%}
{% endblock %}