{% import 'macros.html' as m %}

{% extends "base.html" %}
{% block content %}
<div class="container pt-3" >
    <form action="/books/" method="get" style="display: flex">
        <div class="form-group">
        <!--<label for="title">Поиск по названию</label>-->
            <input type="text" class="form-control" name="title" placeholder="Поиск по названию">
            <button type="submit" class="btn btn-primary">Найти</button>
        </div>
    </form>
</div>
<div class="container pt-3">
    <ul class="list-group">
        {% for book in books %}
        <li class="list-group-item">{{ m.print_book(book) }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}