{% import 'macros.html' as m %}

{% extends "base.html" %}
{% block content %}
<div class="container pt-3" >
    <form action="/books/" method="get" style="display: flex">
        <div class="form-group">
        <!--<label for="title">Поиск по названию</label>-->
            <input type="text" class="form-control" name="title" placeholder="Поиск по названию">
            <button type="submit" class="btn btn-primary">Найти</button>
        </div>
    </form>
</div>
<div class="container pt-3">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">ISBN</th>
                <th scope="col">Авторы</th>
                <th scope="col">Жанр</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
        {{ m.print_book(book) }}
        {% endfor %}
        </tbody>            
    </table>

</div>
{% endblock %}