{% macro print_book(book) %}
    <a href="/books/{{book['_id']}}"> {{book['_id']}}</a> 
    <p> {{ book['title'] }} </p>
    <p> {{ ', '.join(book['authors'])  }} </p>
    <p> {{ ', '.join(book['tags']) }} </p>
    {% if book['open_deal'] %}
    <p>Занята</p>
    {% else %}
    <p>Свободна</p>
    {% endif %}
{% endmacro %}

{% macro print_person(person) %}
    <a href="/persons/{{person['_id']}}"> {{person['_id']}}</a> 
    <p> {{ person['name'] }} </p>
    <p> {{ person['address'] }} </p>
    <p> {{ person['phone'] }} </p>
    <p> {{ person['passport'] }} </p>
    <p> {{ person['registration_date'] }} </p>
{% endmacro %}

{% macro print_deal(deal) %}
    {% if deal['person_id'] %}
    <a href="/persons/{{deal['person_id']}}"> {{deal['person_name']}}</a> 
    {% endif %}
    {% if deal['book_id'] %}
    <a href="/books/{{deal['book_id']}}"> {{deal['book_title']}}</a> 
    {% endif %}
    <p> {{ deal['issue_date']}} </p>
    <p> {{ deal['return_date']}} </p>
    {% if deal['fact_return_date'] %}
    <p> {{ deal['fact_return_date'] }} </p>
    {% endif %}
{% endmacro %}
