{% macro print_book(book) %}
<ul class="list-group list-group-horizontal">
    <li class="list-group-item">
        <a href="/books/{{book['_id']}}"> {{book['_id']}}</a> 
    </li>
    <li class="list-group-item">{{ book['title'] }}</li>
    <li class="list-group-item">{{ ', '.join(book['authors'])}}</li>
    <li class="list-group-item">{{ ', '.join(book['tags'])}}</li>
</ul>
{% endmacro %}

{% macro print_person(person) %}
<ul class="list-group list-group-horizontal">
    <li class="list-group-item">
        <a href="/persons/{{person['_id']}}"> {{person['_id']}}</a> 
    </li>
    <li class="list-group-item">{{ person['name'] }}</li>
    <li class="list-group-item">{{ person['address'] }}</li>
    <li class="list-group-item">{{ person['phone'] }}</li>
    <li class="list-group-item">{{ person['passport'] }}</li>
    <li class="list-group-item">{{ person['registration_date'] }}</li>
</ul>
{% endmacro %}

{% macro print_deal(deal) %}
<ul class="list-group list-group-horizontal">
    {% if deal['person_id'] %}
    <li class="list-group-item">
        <a href="/persons/{{deal['person_id']}}"> {{deal['person_name']}}</a> 
    </li>
    {% endif %}
    {% if deal['book_id'] %}
    <li class="list-group-item">
        <a href="/books/{{deal['book_id']}}"> {{deal['book_title']}}</a> 
    </li>
    {% endif %}
    <li class="list-group-item">{{ deal['issue_date']}} </li>
    <li class="list-group-item">{{ deal['return_date']}} </li>
    {% if deal['fact_return_date'] %}
    <li class="list-group-item">{{ deal['fact_return_date'] }} </li>
    {% endif %}
</ul>
{% endmacro %}
