{% import 'macros.html' as m %}

{% extends "base.html" %}
{% block content %}
<div class="container pt-3">
    <p>Информация о читателе</p>
    <ul class="list-group">
        <li class="list-group-item">{{ m.print_person(person) }}</li>
    </ul>
</div>

{% if person['open_deals']%}
<div class="container pt-3">
    <p>Информация о текущих сделках</p>
    <ul class="list-group">
    {% for open_deal in person['open_deals'] %}
        <li class="list-group-item">{{ m.print_deal(open_deal) }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{%if person['closed_deals'] %}
<div class="container pt-3">
    <p>Информация о закрытых сделках</p>
    <ul class="list-group">
    {% for closed_deal in person['closed_deals'] %}
        <li class="list-group-item">{{ m.print_deal(closed_deal) }}</li>
    {% endfor %}
    </ul>
</div>
{%endif%}
{% endblock %}