{% import 'macros.html' as m %}

{% extends "base.html" %}
{% block content %}
<div class="container pt-3">
    <p>Информация о читателе</p>
    <ul class="list-group">
        <li class="list-group-item">{{ m.print_person(person) }}</li>
    </ul>
</div>

{% if person['open_loans']%}
<div class="container pt-3">
    <p>Список выданных книг</p>
    <ul class="list-group">
    {% for open_loan in person['open_loans'] %}
        <li class="list-group-item">{{ m.print_loan(open_loan) }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{%if person['closed_loans'] %}
<div class="container pt-3">
    <p>История выдач</p>
    <ul class="list-group">
    {% for closed_loan in person['closed_loans'] %}
        <li class="list-group-item">{{ m.print_loan(closed_loan) }}</li>
    {% endfor %}
    </ul>
</div>
{%endif%}
{% endblock %}