{% import 'macros.html' as m %}

{% extends "base.html" %}
{% block content %}
<div class="container pt-3">
    <form action="/persons/" method="get" style="display: flex">
        <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Поиск по имени">
            <button type="submit" class="btn btn-primary">Найти</button>
        </div>
    </form>
</div>
<div class="container pt-3">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ФИО читателя</th>
                <th scope="col">Адрес</th>
                <th scope="col">Номер телефона</th>
                <th scope="col">Номер паспорта</th>
                <th scope="col">Дата регистрации</th>
            </tr>
        </thead>
        <tbody>
            {% for person in persons %}
            {{ m.print_person(person) }}
            {% endfor %}
        </tbody>
            
        </table>
    
</div>
{% endblock %}